# CocoaPods
Pods/

# Archivos de configuración de macOS
.DS_Store

# Firebase
GoogleService-Info.plist

# Archivos de usuario de Xcode
*.xcuserstate
xcuserdata/
*.xcworkspace
DerivedData/
*.xcscmblueprint
